#caseCountReportForm label{font-weight: normal;}.modal .modal-body{padding:10px 15px 10px;}#referral_report label{font-weight:normal;}#case_count label{font-weight: normal;}#CASE_REPORT label, #case_count label, #referral_report label, #case_activity_report label, #case_injury_report label, #task_report label, #markup_report label{font-weight: normal;}.modal .ibox-title h5{margin-top: 9px;}#caseActivityForm .ibox-content, #caseInjuryForm .ibox-content{display: inline-block;width: 100%} tr.selected { background: #4d7ab1 !important; color: #FFF; }

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; }
#case_referral_list_modal .select2-container { width: 100px !important; float:left; }
#caseReferralReport_table tbody tr td.textwrap-line, #caseReport_dataTable tbody tr td.textwrap-line, #caseActivityReport_table tbody tr td.textwrap-line, #caseInjurylReport_table tbody tr td.textwrap-line { white-space: normal !important; vertical-align: top !important; }
span.Show.more { float: right; background: #eee; padding: 5px; color: #666; border-radius: 4px; font-size: 11px; margin: 2px; display: block; cursor: pointer;}
#case_report_list .container-checkbox { display :-webkit-inline-box; }
#case_report_list label.container-checkbox.casetable { min-height: 16px; }
#case_report_list .checkbox.m-r-xs { text-align: right; }
@media (min-width: 1200px) {
    #case_report_list .modal-dialog.modal-lg,#case_referral_list_modal .modal-dialog.modal-lg,#case_injury_list_modal .modal-dialog.modal-lg,  #caseActivityReportData .modal-dialog.modal-lg, #taskReportListing .modal-dialog.modal-lg{
        width: 1200px;
    }
}
div#caseReport_dataTable_processing, div#caseReferralReport_table_processing, div#caseInjurylReport_table_processing, div#caseActivityReport_table_processing, div#tastReport_table_processing, div#taskpoolReport_table_processing {
    background: #4d7ab1;
    color: white;
    margin-top: 0;
    transform: translateY(-50%);
}
td.textwrap-line {
    width: auto;
    min-width : 450px;
}

td.dt-right {
    text-align:right;
}