.no-top-bottom-margin, .no-top-margin {
    margin-top: 0 !important;
}
.no-bottom-margin, .no-top-bottom-margin {
    margin-bottom: 0 !important;
}
.box span, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.v-grid, .v-middle {
    vertical-align: middle;
}
.mar10 {
    margin: 10px;
}
.marg-top2 {
    margin-top: 2px !important;
}
.marg-top5 {
    margin-top: 5px !important;
}
.marg-top10 {
    margin-top: 10px;
}
.marg-top15 {
    margin-top: 15px;
}
.marg-top20 {
    margin-top: 20px;
}
.marg-top40 {
    margin-top: 40px;
}
.marg-bot0 {
    margin-bottom: 0px !important;
}
.marg-bot5 {
    margin-bottom: 5px !important;
}
.marg-bot10 {
    margin-bottom: 10px !important
}
.marg-bot15 {
    margin-bottom: 15px;
}
.marg-bot40 {
    margin-bottom: 40px;
}
.marg-left5 {
    margin-left: 5px;
}
.marg-left10 {
    margin-left: 10px;
}
.marg-left15 {
    margin-left: 15px;
}
.marg-left35 {
    margin-left: 35px;
}
.marg-right5 {
    margin-right: 5px;
}
.marg-right10 {
    margin-right: 10px;
}
.marg-right15 {
    margin-right: 15px;
}
.marg-right40 {
    margin-right: 40px;
}
.padd-top0 {
    padding-top: 0 !important;
}
.padd-bot0 {
    padding-bottom: 0 !important;
}
.padd-bot5 {
    padding-bottom: 5px !important;
}
.padd-bot10 {
    padding-bottom: 10px !important;
}
.position-none {
    position: inherit;
}
.font-normal {
    font-weight: 400;
}
.font-medium {
    font-weight: 600;
}
.f-size15 {
    font-size: 15px;
}
.f-size16 {
    font-size: 16px;
}
.f-size17 {
    font-size: 17px;
}
.f-size18 {
    font-size: 18px;
}
.mail-body {
    border-top: 1px solid #e7eaec;
    padding: 10px;
}
#tools.tab-pane span.cke_voice_label {
    display: none;
}
#tools .cke_top {
    padding: 6px 0 2px;
    width: 100%;
    display: inline-block;
    margin-top: 0;
}
.v-grid-container {
    display: table;
    width: 100%;
}
.v-grid {
    display: table-cell;
}
.inline-block, .inline-block-100 {
    display: inline-block !important;
}
.inline-block-100 {
    width: 100%;
}
.display-block {
    display: block !important;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left !important;
}
.box, .claendar-event, .fileContainer, .sticky {
    text-align: center;
}
ul {
    list-style-type: none;
}
.red {
    color: red;
}
.green {
    color: green;
}
.text-decor {
    text-decoration: underline;
}
.no-right-padding{
    padding-right: 0px !important;
}
.f-normal {
    font-weight: 400;
}
.form-group input, .form-group select {
    margin-bottom: 10px;
}
.modal .form-group input, .modal .form-group select {
    margin-bottom: 0px;
}
img {
    max-width: 100%;
}
.box {
    border: 1px solid #4d7ab1;
    background: #FFF;
    padding: 18px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 12px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.rolodexsearch .dataTables_scrollHead, .rolodexsearch .dataTables_scrollHeadInner, .rolodexsearch .dataTables_scrollHeadInner .dataTables-example {
    width: 538px !important;
}
.box:hover {
    border: 1px solid transparent;
    background: #4d7ab1;
}
.box span {
    display: block;
    color: #928d8d;
    margin-top: 5px;
}
.box i {
    font-size: 25px;
    color: #928d8d;
}
.box:hover i, .box:hover span {
    color: #fff;
}
.popover {
    max-width: 500px;
}
.popover-content {
    width: 500px;
}
.popover #data span, .popover #data textarea {
    margin: 3px 0;
    display: block;
}
/*#calendar td {
    white-space: normal;
    overflow: visible;
    background: #FFF;
    border-color: #ddd;
    word-break: break-word;
}*/


#calendar td {
    white-space: normal;
    overflow: visible;
    /*background: #FFF;*/
    border-color: #ddd;
    word-break: break-word;
}
#calendar .fc-basicWeek-view td, #calendar .fc-month-view td, #calendar .fc-widget-content{
    background:#fff
}
#calendar .historyDayView thead{
    background-color:#f5f5f5;
}


.nav-tabs>li>a {
    padding: 5px 5px 5px 5px;
}
.nav.navbar-right>li>a.btn {
    min-height: inherit;
    padding: 4px 10px;
    margin-right: 5px;
    /*    color: #FFF*/
}
.nav.navbar-right>li>a.btn:hover {
    background-color: #4d7ab1;
    border-color: #4d7ab1;
    color: #fff;
}
.icheckbox_square-green, .iradio_square-green {
    margin-right: 5px;
}
.ibox-content .ibox-content.party, .ibox-content .ibox-title, .modal-body .ibox-content, .modal-body .ibox-title
/*, .tab-pane .ibox-content, .tab-pane .ibox-title */
{
    background-color: #f5f5f5;
    /*padding: 10px*/
}
.ibox-content .ibox-title, .tab-pane .ibox-title {
    min-height: 38px;
    border-width: 2px 0 0;
}
.ibox-content .ibox-title h5, .tab-pane .ibox-title h5 {
    margin-bottom: 0;
    /*margin-top: 0*/
}
.ibox-content .ibox-title a,
.ibox-content .ibox-title h5{
    margin-top: 5px;
}
.staff-info label {
    margin-right: 10px;
    font-weight: 400;
    width: 100px;
}
.staff-info img {
    width: 35px;
    height: 35px;
}
.staff-info p {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
}
.tab-pane .ibox-content.notes {
    padding: 0 2px;
}
.tab-pane .ibox-content.notes textarea {
    border: none;
    background: #f5f5f5;
}
.claendar-event {
    width: 100%;
    height: 253px;
    background: #4d7ab1;
    color: #FFF;
    padding-top: 40px;
}
.sticky {
    width: 100%;
    min-height: 42px;
    max-height: 42px;
    overflow: auto;
    background: #fff;
    padding: 10px;
    padding-right: 35px;
}
.party select {
    max-width: 250px;
    float: left;
}
.party td {
    border-top: none !important;
    padding: 2px !important;
}
.party td{
    white-space: normal;
}
#accordion .panel-body {
    max-height: 175px;
    overflow-y: scroll;
}
#accordion .panel-heading {
    padding: 0;
}
#accordion .panel-title {
    margin: 0;
}
#accordion .panel-title a {
    padding: 10px 15px;
    display: block;
    background: #FFF;
    border-radius: 5px;
}
.lightBoxGallery img {
    margin: 0 3px 3px 0;
}
.fileContainer {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}
.fileContainer [type=file] {
    cursor: pointer;
    /*float: left;*/
    max-width: 151px;
    font-size: 999px;
    filter: alpha(opacity=0);
    width: 100%;
    opacity: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center !important;
    top: 0;
    z-index: 1;
    height: 33px;
    margin: 0 auto;
}

.fileContainer [type=file]:hover + .btn{
    background-color: #4d7ab1;
    border-color: #4d7ab1;
    color: #FFF;
}

.clockpicker-popover, .dropdown-menu, .es-list {
    z-index: 10000;
}
input[type=checkbox], input[type=radio] {
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.navbar-form-custom input {
    border: 1px solid #e8e8e8 !important;
    height: 35px !important;
    margin-top: 12px !important;
    margin-left: 11px !important;
}
.switchery {
    width: 40px;
    height: 20px;
    display: inline-block !important;
}
.chat-message-form, .filters .form-group, .filters label, .filters select, .injuryone div.i-checks, .injuryone div.input-daterange, .utilities ul li {
    display: inline-block;
}
.switchery>small {
    height: 20px;
    width: 20px;
}
#printcase input.form-control, #printcase select.form-control {
    width: 150px;
    display: inline-block;
    margin-left: 10px;
}
.input-daterange .input-group-addon, .input-group-addon {
    white-space: normal;
    background: 0 0;
    border: none;
    text-shadow: none;
}
.input-group {
    margin: 0 auto;
}
.page-heading {
    padding: 0;
}
.page-heading h2 {
    margin-bottom: 20px;
}
.utilities {
    background: #fff;
    height: 100%;
    text-align: center;
    padding: 6px 0;
}
.utilities ul {
    margin: 0;
    padding: 0;
}
.utilities ul li a {
    font-size: 22px;
    margin: 0 5px;
}
.filters label, .injuryone div.i-checks {
    margin-right: 10px;
}
.breadcrumbs {
    margin-bottom: 10px;
}
.tab-content .ibox-title h5,
.tab-content .ibox-title a{
    margin-top: 6px;
}
.ibox-title h5,
.ibox-title a{
    margin-top: 9px;
}
.ibox-title a.btn{
    margin-top: 0px;
    margin-bottom: 0px;

}
.ibox-title {
    padding: 4px 15px;
}
#addcontact .modal-body {
    padding: 10px 10px 5px;
}
.modal {
    overflow-y: auto;
}
#addcontact .tabs-container .panel-body {
    padding: 10px;
}
.modal .ibox-title h5 {
    margin-top: 0;
    font-size: 15px;
}
#addcontact .form-group {
    margin-bottom: 7px;
}
#addcontact .form-group label {
    margin-bottom: 1px;
}
#addcontact .form-group input, #addcontact .form-group select, #addcontact .ibox {
    margin-bottom: 0;
}
.filters .form-group {
    min-width: 220px;
}
.filters select {
    max-width: 110px;
}
.filters span {
    float: right;
}
.mail-tools {
    position: relative;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    background: 0 0;
    outline: 0;
}
.chat-message-form {
    border: 1px solid #afafaf;
    width: 100%;
    padding: 10px;
    position: relative;
}
#del_photo, #del_video {
    position: absolute;
    cursor: pointer;
    right: 9px;
    top: 2px;
    color: #ed5565;
}
#del_video{
    right: 10px;
}
.chat-discussion, .chat-users {
    margin-bottom: 15px;
}
.chat-message-form .message-input {
    height: 34px !important;
    border: none;
    padding: 0;
    /*margin-bottom: 10px;*/
    resize: none;
}
.injuryone label {
    display: block;
}
.injuryone input[type=text] {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}
.clockpicker-popover .popover-content, .clockpicker-popover.popover {
    width: auto;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #444 transparent transparent;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: #eee;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(238, 238, 238, 0.2);
}
.small-chat-box {
    width: 450px;
    height: 320px;
}
.small-chat-box .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.small-chat-box .col-sm-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.small-chat-box .users-list {
    height: 284px;
    overflow-y: scroll;
    border: 1px solid #e7eaec;
}
.small-chat-user {
    padding: 1px 10px;
    border-bottom: 1px solid #e7eaec;
}
.contact-heading {
    background: #2f4050;
    font-weight: 700;
    padding: 2.4px;
    color: #fff;
}
.contact-heading li {
    width: 109px;
}
.passwordBox {
    padding-top: 30px;
    max-width: 300px;
}
.margin-left-30 {
    margin-left: -30px;
}
#small-chat-users .users-listing div.chat-user {
    border-bottom: 1px solid #e7eaec;
    padding: 0 !important;
}
.chat-contacts a {
    color: #676a6c;
}
.no-left-padding {
    padding-left: 0 !important;
}
#formletters .table-responsive {
    max-height: 400px;
    overflow: auto;
}
#formletters11 label, #formletters12 label, #formletters17 label, #formletters19 label, #formletters23 label, #formletters24 label, #formletters28 label, #formletters3 label, #formletters5 label, #formletters6 label, #formletters8 label,#Add-opposingattPopup label, #envelope label, #formletters127 label,#formletters132 label, #formletters134 label, #formletters136 label {
    display: block;
}
#formletters11 select[multiple], #formletters12 select[multiple], #formletters17 select[multiple], #formletters19 select[multiple], #formletters23 select[multiple], #formletters24 select[multiple], #formletters28 select[multiple], #formletters3 select[multiple], #formletters5 select[multiple],#formletters127 select[multiple], #formletters6 select[multiple], #formletters8 select[multiple], #Add-DefenceAttyPopup select[multiple], #Add-InsurancePopup select[multiple], #Add-EmployerPopup select[multiple], #Add-DefenseAttyPopup select[multiple], #Add-opposingattPopup select[multiple], #Add-Physician select[multiple], #envelope select[multiple], #formletters134 select[multiple], #formletters132 select[multiple], #formletters136 select[multiple] {
    width: 250px;
    height: 200px;
    margin-left: 3px;
    margin-right: 3px;
    overflow: auto;
}
#del_video {
    margin: 5px -19px;
}
#del_photo {
    /*margin: 6px -22px*/
}
ul#ui-id-1 {
    background: #fff !important;
    width: 14% !important;
}
select#Category~span {
    width: auto !important;
}
.filters-cat label {
    padding-top: 8px !important;
}
.width125+span #select2-Category-container {
    min-width: 125px !important;
}
.es-input {
    background-color: #fff !important;
}
.swal-wide {
    width: 250px !important;
    margin: 0 auto;
}
.casecontainer {
    /*min-height: 1046px;*/
    max-height: 1046px;
    overflow: auto;
}
.eventContiner {
    /*    min-height: 490px;
        max-height: 490px;*/
    overflow: hidden;
}
.caseeventContiner {
    /*    min-height: 418px;
        max-height: 418px;*/
    overflow: auto;
}
@media (max-width:1200px) {
    .casecontainer {
        min-height: 0;
        max-height: 100%
    }
    .eventContiner {
        min-height: 0;
    }
    .caseeventContiner {
        min-height: 0;
    }
}
.emailHeader {
    background: 0 0;
    display: inline-block;
    width: 100%;
    margin-bottom: 10PX;
    padding: 10px;
    background-color: #FFF;
}
.emailHeader .searchFiltr .col-lg-6 label:not(.container-radio) {
    padding: 5px 10px;
    background: #4d7ab1;
    color: #fff;
    margin-bottom: 0;
}
.emailHeader .searchFiltr .col-lg-6 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.emailHeader .searchFiltr .col-lg-6>div, .emailHeader .searchFiltr .col-lg-6 label {
    margin-right: 20px;
}
.emailHeader .searchFiltr .col-sm-6 label:not(.container-radio) {
    padding: 5px 10px;
    background: #4d7ab1;
    color: #fff;
    margin-bottom: 0;
}
.emailHeader .searchFiltr .col-sm-6 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.emailHeader .searchFiltr .col-sm-6>div, .emailHeader .searchFiltr .col-sm-6 label {
    margin-right: 20px;
}
.emailHeader .col-lg-3 .btn-sm {
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    padding: 0;
    /*border: 1px solid #333;*/
    font-size: 15px;
}
.btn-group-sm>.btn, .btn-sm {
    font-size: 14px !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #4d7ab1 !important;
}
.tabs-container .nav-tabs>li.active>a, .tabs-container .nav-tabs>li.active>a:focus, .tabs-container .nav-tabs>li.active>a:hover {
    background-color: #4d7ab1;
    color: #FFF;
}
.f-size12 {
    font-size: 12px !important;
}
.supported-files {
    font-size: 12px;
    letter-spacing: .5px;
    color: #ef5352;
    opacity: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 205px;
}
.fc-basicDay-view .fc-row.fc-rigid .fc-content-skeleton {
    bottom: 0;
}
/*table#basicDayView {
     display: block;
     min-width: 1100px
}
*/
.container-radio {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.container-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #4d7ab1;
    border-radius: 50%;
}
.container-radio input:checked~.checkmark {
    background-color: #4d7ab1;
    border-color: #4d7ab1;
}
.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}
.container-radio input:checked~.checkmark:after {
    display: block;
}
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #ccc;
}
.container-checkbox input:checked~.checkmark {
    background-color: #4d7ab1;
    border-color: #4d7ab1;
}
.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 29%;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    -ms-transform: rotate(45deg) translate(-65%, -50%);
    transform: rotate(45deg) translate(-65%, -50%);
}
#filterForm .select2-container--default .select2-selection--single, #send_mail_form .select2-container--default .select2-selection--multiple, .mail-body .select2-container--default .select2-selection--multiple {
    border-radius: 0;
}
.container-checkbox input:checked~.checkmark:after {
    display: block;
}
@media (max-width:991px) {
    .mt-sm-15 {
        margin-top: 15px;
    }
}
#send_mail_form .select2-container--default.select2-container--focus .select2-selection--multiple, .mail-body .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #4d7ab1;
}
#send_mail_form .select2-container .select2-search--inline .select2-search__field, .mail-body .select2-container .select2-search--inline .select2-search__field {
    margin-bottom: 0;
    width: 200px !important;
}
#send_mail_form label.col-sm-2.control-label, #send_mail_form1 label.col-sm-2.control-label, .mail-body label.col-sm-2.control-label {
    width: 155px;
}
#send_mail_form .col-sm-9.att-add-file1, /*#send_mail_form .form-group .col-sm-10,*/ #send_mail_form1 .col-sm-9.att-add-file, #send_mail_form1 .form-group .col-sm-2.control-label~.col-sm-10, .mail-body .col-sm-9.att-add-file /*.mail-body .form-group .col-sm-10 */{
    width: calc(100% - 155px);
}
#send_mail_form .form-group, .mail-body .form-group {
    /*margin-bottom: 15px*/
}
#send_mail_form .form-group input, #send_mail_form .form-group select, .mail-body .form-group input, .mail-body .form-group select {
    margin-bottom: 0;
}
.mail-body .icheckbox_square-green, .mail-body .iradio_square-green {
    margin-top: 5px;
}
.form-horizontal #send_mail_form .control-label, .form-horizontal .mail-body .control-label {
    padding-top: 5px;
}
.dropzone .dz-default.dz-message {
    margin: auto !important;
    left: 0;
}
.urgent-form-group>label {
    width: 102px;
    margin-left: 0;
    padding: 7px 0px 0;
    text-align: right;
}
.urgent-form-group .icheckbox_square-green, .urgent-form-group .iradio_square-green {
    margin-top: 7px;
    margin-left: 26px;
    background-color: #fff;
}
div.dataTables_wrapper div.dataTables_info {
    white-space: initial;
}
.dataTables_wrapper .row:last-child {
    display: flex;
    align-items: center;
}
#filterForm .select2-container {
    margin-bottom: 10px;
}
.datetimepicker {
    padding: 7px 14px;
}
.mail-text {
    padding: 0px;
}
.cke_chrome{
    border: none !important;
}
.cke_editable{
    margin: 10px !important;
}
#casedetails .ibox-content.marg-bot15.detailContainer>.row>.col-xs-5 {
    padding-right: 0;
}
#saved-documents1>.panel-body .ibox .ibox-content {
    overflow: auto;
}
#CaseEmailModal .modal-dialog {
    /*  width: 700px;*/
}
@media (max-width:1199px) {
    .mt-md-15 {
        margin-top: 15px;
    }
    #filterForm .row.marg-left5 {
        margin-top: 10px;
        margin-left: 0;
    }
}
@media (max-width:768px) {
    .navbar-static-side {
        display: none;
    }
}
.float-e-margins .ibox-title small {
    vertical-align: top;
    display: inline-block;
    margin-top: 9px;
}
.fc-day-grid-container {
    overflow: auto;
    background: #fcf8e3;
}
.twosix .injuryone p input[type=text] {
    width: 72px !important;
}
.xmpp-status-menu .logout {
    display: none !important;
}
.emailalignment .email {
    width: 130px;
    overflow: hidden;
    display: inline-block;
    word-wrap: break-word;
}
.fix-height-table {
    max-height: 370px;
}
#chat-content {
    border-bottom: 3px solid #ddd;
}
#proceedprospects {
    overflow: auto;
}
@media (max-width:1023px) {
    #proceedprospects .modal-dialog {
        margin-bottom: 500px;
    }
}
#Task-list, #addtask1 {
    padding-top: 50px;
}
div#DataTables_Table_0_processing, div#related_case_table_processing {
    background: #4d7ab1;
    color: white;
    margin-top: 0;
    transform: translateY(-50%);
}
div#DataTables_Table_1_processing {
    background: #4d7ab1;
    color: white;
    margin-top: 20px;
}
.chat-discussion .chat-message.left .message, .chat-discussion .chat-message.right .message, .chosen-container span, ul.chosen-results li {
    text-align: left !important;
}
.chat-avatar-big, .chat-avatar-small {
    color: #fff;
    font-weight: 900;
    text-align: center;
}
.blockUI.blockMsg.blockPage .sk-cube1, .blockUI.blockMsg.blockPage .sk-cube2 {
    background-color: #4d7ab1;
}
.blockUI.blockMsg.blockPage {
    border: none !important;
    background-color: transparent !important;
}
span.closeon {
    position: absolute;
    top: 0;
    right: 4px;
}
.fc-day-grid-event>.fc-content {
    margin-right: 15px;
    text-overflow: ellipsis;
}
.chat-discussion .chat-message.left .message-date, .chat-discussion .chat-message.right .message-date {
    float: right !important;
}
tr.selected {
    background-color: #d6d6d6;
}
.chat-avatar-small {
    border-radius: 50%;
    line-height: 40px;
}
.chat-avatar-big {
    font-size: 18px;
    line-height: 54px;
}
#case_activity_list .caseact_event, .textwrap-line {
    white-space: pre-line;
}
#activity_event {
    font-size: 30px;
}
.select2-dropdown {
    z-index: 9999 !important;
}
.select2-container {
    width: 100% !important;
}
.marginClass {
    margin: 5px 5px 0 !important;
}
.btn-circle-action {
    width: 25px !important;
    height: 25px !important;
    padding: 2px 0 !important;
    margin-bottom: 0px !important;
}
.btn-square-action {
    width: 25px !important;
    height: 25px !important;
    padding: 3px 3px 0px 4px !important;
}
.dropdown-messages a.forMessageDrpdown {
    padding: 0 !important;
}
.mar-right4 {
    margin-right: 4px;
}
.dropzone .dz-default.dz-message {
    background: 0 0 !important;
    margin-left: auto;
    position: relative !important;
    top: 5% !important;
    height: 0 !important;
    margin-top: 20px !important;
}
.dropzone .dz-default.dz-message span {
    display: block !important;
    padding: 10px !important;
}
#add_new_case_activity .dz-image-preview .dz-details>img {
    display: none !important;
}
.disable-click {
    pointer-events: none;
    cursor: default;
}
.table-selected {
    background-color: #a2aec7 !important;
}
.date-rangepicker .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.date-rangepicker input[type=text] {
    background: #fff;
}
#rolodexPartiesResult_filter input {
    width: 74% !important;
}
#duplicateEntries tr.highlight, #rolodexPartiesResult tr.highlight {
    background-color: #4d7ab1;
    color: #fff;
}
.bg-field {
    width: 200px !important;
}
.full-width {
    width: 100% !important;
}
.xs-field {
    width: 35px !important;
}
.caption-opened {
    font-size: 16px;
    font-weight: 700;
}
.caption-closed {
    font-weight: 700;
    background-color: red;
    font-size: 21px;
    color: #fff;
}
.date-field {
    background-color: #FFF !important;
}
.message a.message-author, div.chat-user-name a {
    cursor: default !important;
}
@media print {
    body, html {
        height: auto;
    }
}
li#whoto, li#whofrom {
    border: none;
}
.marg-bot40{
    margin-bottom:40px;
}
input[name=deleted_cases]{
    margin-left: 0px !important;
}
.asterisk{
    color :red;
}
#injuryTable_filter input{
    width:140px !important;
}
#party-table-data_wrapper input{
    width:140px !important;
}
.buttons-excel ,.buttons-pdf ,.buttons-print {
    /*background-color: #eee !important;
    border-color: #eee !important;
    color: #666 !important;*/
    background-color: #4d7ab1 !important;
    border-color : #4d7ab1 !important;
    color: #FFF !important;
}

.buttons-excel:hover ,.buttons-pdf:hover ,.buttons-print:hover {
    /*background-color: #4d7ab1 !important;
    border-color: #4d7ab1 !important;
    color: #FFF !important;*/
    background-color: #eee !important;
    border-color: #eee !important;
    color: #666 !important;
}
.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
    background: #4d7ab1;
    color: #FFF;
}
/*#pro_type-error{
    margin-left: 5px;
    padding-top: 0;
    position: absolute;
    left: 12px;
    bottom: -9px;
}*/
.img-circle {
    object-fit: cover;
}
#addcaseact .modal-body {
    padding: 0px 10px 0px;
}
#addcaseact .dropzone{
    padding: 0px;
    border: none;
    background: none;
}
.dataTables_wrapper{
    /*    overflow-x: hidden;*/
}
div.dataTables_wrapper div.dataTables_filter input{
    margin-left: 0.3em;
    width: auto;
    padding: 0;
}
.html5buttons a {
    font-size: 14px;
    border-radius: 5px !important;
    margin-left: 3px !important;
}

.padd-top15 {
    padding-top: 15px;
}
@media (max-width:767px) {
    #pro_type-error{
        bottom: -25px !important;
    }
}
body.mini-navbar .navbar-default .nav li a{
    text-align: center;
}
body.mini-navbar .navbar-default .nav>li>a i {
    margin-right: 0px;
}
.dataTables_scroll{
    margin-bottom: 10px;
}
#filterForm .form-group{
    margin-bottom: 0px;
}
#injuryTable_wrapper .btn-circle-action , .party-table .btn-circle-action {
    /*    width: 30px !important;
        height: 30px !important;
        padding: 3px 0 !important;*/
}
.btn-circle{
    font-size: 13px;
}
#injuryTable_wrapper td,.party-table td{
    vertical-align: middle !important;
}
.float-e-margins #injuryTable_wrapper .btn,
.float-e-margins .party-table .btn{
    margin-bottom: 0px;
}
.paginate_button.previous a,
.paginate_button.next a{
    text-indent: -9999px;
    text-align: left;
    position: relative;
    width: 25px;
}
.paginate_button.previous a:after,
.paginate_button.next a:after{
    font-family: "FontAwesome";
    color: inherit;
    font-size: 17px;
    text-align: right;
    position: absolute;
    left: 58%;
    top: 50%;
    transform: translateY(-50%);
}

.paginate_button.previous a:after{
    content: "\f104";
    text-align: right;
}
.paginate_button.next a:after{
    content: "\f105";
}

.row {
    margin-right: -7px;
    margin-left: -7px;
}

.imgGallery{
    float: left;
    position:relative;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 7px;
    padding-left: 7px;
}
.navbar{
    min-height: 42px;
}

div.dataTables_wrapper div.dataTables_info{
    font-size: 13px;
}
.modal-header {
    padding: 10px 15px;
}

.fc-content .fc-title{
    display: block;
}

.logo_Law{
    max-width: 30px;
    margin-top: 6px;
    margin-left: 10px;
    border-radius: 3px;
    display:block;
}

ul.list0001 .label-success a {
    color: #fff;
}

.form-horizontal .form-group {
    margin-right: -7px;
    margin-left: -7px;
}

.email-new-dataTable .container-checkbox .checkmark{
    top: -7px;
}

.sweet-alert button.cancel,
.sweet-alert button.cancel:hover{
    background-color: #ed5565 !important;
    color:#FFF !important;
}

/* #form-letter5_wrapper .dataTables_scrollHeadInner{
    width:100% !important;
} */
.pagination{
    font-size: 12px;
}
span.label.label-warning.email_count.pull-right{
    line-height: normal;
}
.injurydocumentupload input[type=file]{
    left: auto;
    max-width: 180px;
}
#TodayTaskCompleted .modal-footer, #TaskCompleted .modal-footer{
    text-align: left;
}
#TodayTaskCompleted .modal-body{
    padding: 0;
}
select#A1forms {
    border: 1px solid #9C9C9C;
    font-size: 15px;
}
#addTaskForm label, #addtask1 label {
    margin-top: 6px;
}
.mail-box .small-fonts{
    /*display: flex;*/
    /*justify-content: space-between;*/
    padding-bottom: 0px;
}
.mail-box .btn{
    font-size: 12px !important;
}
#emailBody{
    margin-bottom: 0px;
    max-height: 515px;
    white-space: normal !important;
	word-break: inherit !important;
}
.file_with_attachment #emailBody{
    margin-bottom: 0px;
    max-height: 300px;
   /* min-height: 300px;*/
}

.placeholderEmailDiv{
    background: #f5f5f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-direction: column;
    flex-direction: column;

    height:500px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.placeholderEmailDiv p{
    margin-top: 20px;
    margin-bottom: 0;
}
#file_with_attachment ul{
    padding: 0px;
}
#file_with_attachment ul li i{
    font-size: 15px !important;
    padding: 0px 5px !important;
	vertical-align: top;
}
.attatchement_preview{
	/*width: 105px;*/
	height: 105px;
	border: 1px solid #c6c0d0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attatchement_preview span{
	color: #c6c0d0;
    font-weight: normal;

}	
.attatchement_preview img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.select2-results__option[aria-selected],.es-list li{
    font-size: 12px;
}
.locationdepo{
    position: relative;
}
.locationdepo label{
    position: absolute;
    top: 0;
    left: 3px;
}
.locationdepo label:nth-child(3){
    left: 49%;
}
.locationdepo select{
    margin-top: 25px;
}


/*caseactivity //Namrata */
.ibox-content.caseact-generalinfo {
    min-height: 263px;
}
.ibox-content.caseact-generalnotes {
    min-height: 156px;
}
div#dropzonePreview {
    left: 0px;
    width: -webkit-fill-available;
    max-width: 428px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .ibox-content.caseact-generalnotes {
        min-height: 185px;
    }
}

#casedetails .ibox-title .btn-sm , .pnc-list .ibox-title .btn-sm, #parties .ibox-title .btn-sm {
    font-size: 12px !important;
}

.caseactdocs-report {margin : 0px 5px 0 !important;}

.cstmdrp-placeholder::placeholder {color : #333;}
#basicDayView a.btn.btn-default.btn-circle-action.btn-circle.cal-pullcase,
.historyDayView a.btn.btn-default.btn-circle-action.btn-circle.cal-pullcase { margin-left: 10px; display: inline-block; }
@media (max-width:768px) {
   #basicDayView a.btn.btn-default.btn-circle-action.btn-circle.cal-pullcase,
    .historyDayView a.btn.btn-default.btn-circle-action.btn-circle.cal-pullcase { margin-left: 0px; margin-top: 5px; }

    #basicDayView tbody td:last-child,
    .historyDayView tbody td:last-child{text-align: center;}
}
span.calender-pullcase.event-caseno { float: right !important; font-weight: bold; }
#rolodexsearchResult_data > thead {width : auto;}

.checkbox.r-align-checkbox{ display: inline-block !important;}
label.container-checkbox.globalreassign-admin { display: inline-block; }

@media (min-width: 768px) {
    .modal-dialog.modal-md.firmcompanylist.modal-dialog, .modal-dialog.modal-md.rolodexsearchAddress.modal-dialog {
        max-width: 820px;
        margin: 30px auto;
    }
}
.forcelogmessage
{
    border: solid 1px #ccc;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 15px;
}
#rolodexPartiesResult tr td{
    white-space: normal;
}
.fc-view-container .fc-history-view,.fc-view-container .fc-history-view *, .fc-view-container .fc-history-view:before, .fc-view-container .fc-history-view:after{
    box-sizing: border-box !important;
}
.fc-history-view .dataTables_scroll{
    margin-bottom: 0px;
}
.historyDayView .btn-circle-action{
    width: 27px !important;
    height: 27px !important;
}
.historyDayView .btn-circle-action.cal-delete{
    padding-top: 2px !important;
}

.form-list-lower{
    text-transform: lowercase;
}

.form-list-lower span{
    text-transform: uppercase;
}

.fc-day-grid-event .fc-content {
    white-space: normal !important;
}

.fc table {
    table-layout: auto !important;
}

.fc table .fc-content-skeleton table,
.fc table .fc-bg table,
.fc table .fc-widget-header table{
    table-layout: fixed !important;
}

@media(max-width: 768px) {
    #duplicateEntries tbody td, #rolodexsearchResult_data_wrapper tbody td, 
    .dataTables-rolodex tbody td:nth-child(4), 
    .dataTables-rolodex tbody td:nth-child(6), 
    .dataTables-rolodex tbody td:nth-child(7), 
    .dataTables-rolodex tbody td:nth-child(8), 
    .dataTables-rolodex tbody td:nth-child(9), 
    .dataTables-rolodex tbody td:nth-child(10), 
    .dataTables-rolodex tbody td:nth-child(11), 
    .dataTables-rolodex tbody td:nth-child(12), 
    .dataTables-rolodex tbody td:nth-child(13), 
    .dataTables-rolodex tbody td:nth-child(14), 
    .task-dataTable tbody td, 
    .dataTables-eamsLookup tbody td,
    #form-letter5 tbody td:nth-child(3), 
    #form-letter5 tbody td:nth-child(4),
    #injuryTable1_wrapper tbody td {
        white-space: normal;
        word-break: break-all;
    }

    .dataTables-rolodex tbody td:nth-child(2) {
        word-break: break-word;
    }

    .dataTables-rolodex tbody td:nth-child(14) .btn-circle-action, 
    .task-dataTable tbody td:nth-child(10) .btn-circle-action,
    #injuryTable1_wrapper tbody td:nth-child(13) .btn-circle-action {
        margin-bottom: 5px !important;
    }

    /* .dataTables_scrollHeadInner {
        width: 100% !important;
    } */

    /* #case_activity_list_wrapper .dataTables_scrollHeadInner{
        width: initial !important;
    } */

    .text_center {
        padding-top: 15px;
        text-align: center;
    }

    .emailaddresswidth .subject {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 226px;
    }

    .emailaddresswidth .initialwidth {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100px;
    }

    .emailaddresswidth span.pull-right {
        right: 12px;
        position: absolute;
        top: 40px;
    }
}

.client-personal .applicant_name{word-break: break-word;}

#case_dates_tbl tbody tr:nth-child(4) td:last-child, 
.case-dataTable tbody td, 
.today_event tbody td,
#related_case_table tbody td:nth-child(5) {
    /*white-space: normal;
    word-break: break-word;*/
}
#uploadFile3 {
    width: 100%;
}

#uploadBtn3{
    max-width: 100%;
}

.profile-element img,
.logo-element img{
    height: 42px;
}
.nav {margin-top: 0px;}

#calendar .dataTables_scrollHeadInner
{
    padding-right: 0px !important;
}